<html>
  <head>
    <script src = "/main.js"></script>
  </head>
  <body>
    <h2>Tips of the Orderbook</h2>
    <select id="pair-input">
      <option value="BTCUSD">BTC-USD</option>
      <option value="ETHUSD">ETH-USD</option>
    </select>
    <button onclick="selectPair(document.getElementById('pair-input').value)">Get Tips in Real Time</button>
    <br><br>
    <div id="orderbook-response"></div>
    
    <h2>Effective Price Calculation</h2>
    <select id="pair-input-depth">
      <option value="BTCUSD">BTC-USD</option>
      <option value="ETHUSD">ETH-USD</option>
    </select>
    <select id="type-input">
        <option value="buy">BUY</option>
        <option value="sell">SELL</option>
      </select>
    <input type="text" id="amount-input" placeholder="Enter amount">
    <input type="text" id="limit-input" placeholder="Enter price limit">
    <button onclick="fetchMarketDepth(document.getElementById('pair-input-depth').value, document.getElementById('type-input').value, document.getElementById('amount-input').value, document.getElementById('limit-input').value)">Get Effective Price</button>
    <br><br>
    <div id="market-depth-response"></div>
  </body>
</html>
